@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
    max-width: 100%;
    min-height: fit-content;
    width: 100%;
    overflow-x: hidden;
    height: 100%
    }

#root {
    height: 100%;
}

@font-face {
    font-family: "Bavro";
    src: local("Bavro"),
    url("./fonts/Bavro/Bavro-Regular.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("fonts/Metropolis/Metropolis-Regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Metropolis";
    src: local("Metropolis"),
    url("fonts/Metropolis/Metropolis-Bold.otf") format("opentype");
    font-weight: bold;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
    display: flex;
    align-items: center;
}

.not-selected-tab {
    color: grey;
}

.selected-tab {
    color: #2979FF;
}

.tab {

}


.tab-icon {
    font-size: min(8vmin, 51px);
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 22px;
    min-height: 22px;
}

.page-title {
    width: fit-content;
}

.tab-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1 1 auto;
    min-width: 0;
    height: 100%;
}

.button-container {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.webcam-container {
    @media (min-height: 700px) {
        height: 80%;
    }
    width: fit-content;
    height: 70%;
    position: relative;
}

.help-pager {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    overflow: hidden;
}

.page-text {
    margin: 5%;
    text-align: center;
    font-size: min(4vmin, 25px);
}


.page-dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin: 3px;
    background: #1d67e3;
}

.selected-page-dot {
    height: 9px;
    width: 9px;
    margin: 6px;
}

.page-navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: auto;
}

.dot-container {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.stacked-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.page-image {
    margin-top: 10%
}

.webcam {
    height: 100%;
}

.loading-webcam::before {
    height: 100%;
    width: 100%;
    background-color: black;
}